<div class="container">
<div class="head"> Facebook </div>
 <form action="/home" method="post"> 
 <label>User Name : </label> 
 <input type="text" name="userName" /><br /> <br>
  <label>Password :<span>   </span></label>
   <input type="password" name="userPassword" />
   <input id="b" type="submit" name="Login" value="Login"> 
   </form>
</div>